<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CWGuidePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>974A78DF1E77BFC7008392D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>974A78F81E77BFC7008392D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>974A79031E77BFC7008392D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
